doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    script(src="https://unpkg.com/htmx.org@1.9.5", integrity="sha384-xcuj3WpfgjlKF+FXhSQFQ0ZNr39ln+hwjN3npfM9VBnUskLolQAcN80McRIVOPuO", crossorigin="anonymous")
    script(src="https://cdn.tailwindcss.com")
    title #{title}
  body(class="bg-gray-100 font-sans flex flex-col h-screen")
      include ./header
      div(class="flex flex-grow")
        include ./sidebar
        main(class="flex-1 bg-gray-100 p-4 overflow-y-auto")
          block content 
      include ./footer
      if notification
        div(class="fixed bottom-0 right-0 mb-4 mr-4 p-4 rounded shadow-lg transition-opacity duration-300 " + (notification.type === 'info' ? 'bg-blue-500' : notification.type === 'error' ? 'bg-red-500' : 'bg-green-500')) #{notification.msg}