<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= workExperience.title %></title>
  </head>
  <body>
    <form id="update-work-experience-form">
      <input
        type="text"
        name="title"
        id="title"
        value="<%= workExperience.title %>"
      />
      <textarea name="description" id="description">
<%= workExperience.description %></textarea
      >
      <button
        type="button"
        onclick="updateWorkExperience('<%= workExperience.id %>')"
      >
        Update
      </button>
    </form>
    <a href="/work-experiences">Back to Work Experiences list</a>

    <script>
      function updateWorkExperience(id) {
        const formData = new FormData(
          document.getElementById('update-work-experience-form')
        );
        const title = formData.get('title');
        const description = formData.get('description');

        fetch(`/work-experiences/${id}`, {
          method: 'PUT',
          headers: { 'Content-Type': 'application/json' },
          body: JSON.stringify({ title, description }),
        })
          .then((response) => response.json())
          .then((data) => {
            if (data.success) {
              window.location.href = `/work-experiences/${id}`;
            } else {
              alert('Error updating work experience: ' + data.message);
            }
          })
          .catch((error) => {
            alert('Error: ' + error.message);
          });
      }
    </script>
  </body>
</html>
