<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Work Experiences List</title>
  </head>
  <body>
    <h1>Work experiences list here</h1>
    <ul>
      <% list.map((result)=>{ %>
      <li>
        <a href="/work-experiences/<%= result.id %>"><%= result.title %></a>
        <button onclick="deleteWorkExperience('<%= result.id %>')">
          Delete
        </button>
      </li>
      <% }) %>
    </ul>
    <a href="work-experiences/create">Add new</a>
    <script>
      function deleteWorkExperience(id) {
        fetch(`/work-experiences/${id}`, { method: 'DELETE' })
          .then((response) => response.json())
          .then((data) => {
            if (data.success) {
              location.reload();
            } else {
              console.log('Error deleting work experience:', data.message);
            }
          })
          .catch((error) => {
            console.error('Error deleting work experience:', error);
          });
      }
    </script>
  </body>
</html>
