extends default 

block content 
  h1 #{title}
  table
    thead
      tr 
        th Title 
        th Description 
        th Actions
    tbody 
      each result in list 
        tr 
          td 
            a(href="/work-experiences/" + result.id ) #{result.title} 
          td #{result.description}
          td 
            button(hx-delete="/work-experiences/" + result.id, hx-target="body") Delete
            
  a(href="/work-experiences/create") Add New