extends ../layouts/base

block content
  h1(class="text-2xl font-bold mb-4") #{title}
  // TODO: refactor form to use partial for both POST and PUT requests
  div#form-container
    include ../partials/aboutSectionForm
    a(href="/about-sections" class="text-blue-500 hover:underline mt-4 inline-block") Back to About Sections list
