extends ../layouts/base 

block content
  h1(class="text-2xl font-bold mb-4") #{title}

  div#form-container
    include ../partials/workExperienceForm

  a(href="/work-experiences" class="text-blue-500 hover:underline mt-4 inline-block") Back to Work Experiences list